<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Portfolios</title>
</head>
<body>
    {{> header}}
    <p>This is the projects page. Projects would appear here.</p>
    {{> footer}}
</body>
</html>